<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>{{ site.title }}</title>

  {% if page.robots %}
    <meta name="robots" content="{{page.robots}}" />
  {% endif %}

    {%- if site.style == 'gits' -%}
      <link rel="stylesheet" type="text/css" href="{{ "/assets/main-gits.css" | relative_url }}">
    {%- elsif site.style == 'leaves' -%}
      <link rel="stylesheet" type="text/css" href="{{ "/assets/main-leaves.css" | relative_url }}">
    {%- elsif site.style == 'dune' -%}
      <link rel="stylesheet" type="text/css" href="{{ "/assets/main-dune.css" | relative_url }}">
    {%- elsif site.style == 'd1' -%}
      <link rel="stylesheet" type="text/css" href="{{ "/assets/main-d1.css" | relative_url }}">
    {%- elsif site.style == 'neon' -%}
      <link rel="stylesheet" type="text/css" href="{{ "/assets/main-neon.css" | relative_url }}">
    {%- elsif site.style == 'hacker' -%}
      <link rel="stylesheet" type="text/css" href="{{ "/assets/main-hacker.css" | relative_url }}">
    {%- endif -%}
			<link rel="shortcut icon" type="image/png" href="{{ site.logo  }}" > 

  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
{% seo %}
</head>

