
:root {
  --base-color: var(--code-color-15);
  --border: dashed 1px var(--code-color-14);
  --selection-background: var(--code-color-15);
  --selection-text: var(--code-color-16);
	--highlight-background:  var(--code-color-13); 
  --background-color: var(--code-color-0);
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--code-color-8);
	--config-color: var(--code-color-0);
  --code-color-0: #0a0b08;
  --code-color-1: #675638;
  --code-color-2: #555B47;
  --code-color-3: #5A6651;
  --code-color-4: #6E6754;
  --code-color-5: #656D56;
  --code-color-6: #936D51;
  --code-color-7: #ccc0ac;
  --code-color-8: #8e8678;
  --code-color-9: #675638;
  --code-color-10: #555B47;
  --code-color-11: #5A6651;
  --code-color-12: #6E6754;
  --code-color-13: #656D56;
  --code-color-14: #936D51;
  --code-color-15: #ccc0ac;	
	--code-color-16: #587488;
  --code-color-17: #87898a;
  --code-color-18: #788790;
}
