/**
 * Hacker theme variables
 */

:root {
  --base-color: var(--code-color-0);
  --border: dashed 1px var(--code-color-17);
  --selection-background: var(--code-color-16);
  --selection-text: var(--code-color-8);
	--highlight-background:  var(--code-color-9); 
  --background-color: var(--code-color-2);
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
	--link-color: var(--code-color-17);
	--config-color: var(--code-color-0);
  --code-color-0: #422001;
  --code-color-1: #F5AF50;
  --code-color-2: #F4B76D;
  --code-color-3: #FEC15C;
  --code-color-4: #FDC773;
  --code-color-5: #F8C890;
  --code-color-6: #DCC3BA;
  --code-color-7: #ead7c8;
  --code-color-8: #a3968c;
  --code-color-9: #F5AF50;
  --code-color-10: #F4B76D;
  --code-color-11: #FEC15C;
  --code-color-12: #FDC773;
  --code-color-13: #F8C890;
  --code-color-14: #DCC3BA;
  --code-color-15: #ead7c8;
	--code-color-16: #ffffff;
  --code-color-17: #514B46;
  --code-color-18: #5e4807;
}
