
:root {
  --base-color: var(--code-color-15);
  --border: dashed 1px var(--code-color-14);
  --selection-background: var(--code-color-5);
  --selection-text: var(--code-color-0);
	--highlight-background:  var(--code-color-2); 
  --background-color: var(--code-color-0);
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--code-color-2);
	--config-color: var(--code-color-0);
  --code-color-0: #15121d;
  --code-color-1: #8E767F;
  --code-color-2: #3F7782;
  --code-color-3: #587488;
  --code-color-4: #717985;
  --code-color-5: #788790;
  --code-color-6: #75ADC5;
  --code-color-7: #c1c5c6;
  --code-color-8: #87898a;
  --code-color-9: #8E767F;
  --code-color-10: #3F7782;
  --code-color-11: #587488;
  --code-color-12: #717985;
  --code-color-13: #788790;
  --code-color-14: #75ADC5;
  --code-color-15: #c1c5c6;
  --code-color-16: #587488;
  --code-color-17: #87898a;
  --code-color-18: #788790;
}
