
:root {
  --base-color: var(--code-color-15);
  --border: dashed 1px var(--code-color-14);
  --selection-background: var(--code-color-5);
  --selection-text: var(--code-color-15);
	--highlight-background:  var(--code-color-13); 
  --background-color: var(--code-color-0);
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--code-color-2);
	--config-color: var(--code-color-0);
	--code-color-0: #0e0f10;
  --code-color-1: #526661;
  --code-color-2: #3E816D;
  --code-color-3: #628679;
  --code-color-4: #AD4A8D;
  --code-color-5: #73978B;
  --code-color-6: #93AEA4;
  --code-color-7: #ccd9d4;
  --code-color-8: #8e9794;
  --code-color-9: #526661;
  --code-color-10: #3E816D;
  --code-color-11: #628679;
  --code-color-12: #AD4A8D;
  --code-color-13: #73978B;
  --code-color-14: #93AEA4;
  --code-color-15: #ccd9d4;
  --code-color-16: #587488;
  --code-color-17: #87898a;
  --code-color-18: #788790;
}
