
:root {
  --base-color: var(--code-color-15);
  --border: dashed 1px var(--code-color-14);
  --selection-background: var(--code-color-5);
  --selection-text: var(--code-color-0);
	--highlight-background:  var(--code-color-13); 
  --background-color: var(--code-color-0);
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--code-color-2);
  --code-color-0: #022937;
  --code-color-1: #8A3279;
  --code-color-2: #8D497B;
  --code-color-3: #3A9C6C;
  --code-color-4: #2F628E;
  --code-color-5: #A5338B;
  --code-color-6: #B35499;
  --code-color-7: #92c8c6;
  --code-color-8: #668c8a;
  --code-color-9: #ffffff;
  --code-color-10: #8D497B;
  --code-color-11: #587488;
  --code-color-12: #2F628E;
  --code-color-13: #8A3279;
  --code-color-14: #B35499;
  --code-color-15: #92c8c6;
	--code-color-16: #3A9C6C;
  --code-color-17: #87898a;
  --code-color-18: #788790;
}
