
:root {
  --base-color: var(--code-color-17);
  --border: dashed 1px var(--code-color-14);
  --selection-background: var(--code-color-5);
  --selection-text: var(--code-color-0);
	--highlight-background:  var(--code-color-2);
  --background-color: var(--code-color-0);
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--code-color-19);
	--config-color: var(--code-color-18);
  --code-color-0: #0A001A;
  --code-color-1: #5A2247;
  --code-color-2: #6E2B4D;
  --code-color-3: #883B54;
  --code-color-4: #933961;
  --code-color-5: #964552;
  --code-color-6: #AB5156;
  --code-color-7: #cb9da7;
  --code-color-8: #8e6d74;
  --code-color-9: #5A2247;
  --code-color-10: #6E2B4D;
  --code-color-11: #883B54;
  --code-color-12: #933961;
  --code-color-13: #964552;
  --code-color-14: #AB5156;
  --code-color-15: #cb9da7;
  --code-color-16: #6BA1A7;
  --code-color-17: #ffffff;
  --code-color-18: #FDE4C1;
  --code-color-19: #B19F87;
//				--code-color-19: #FDD298;
}
